.corners {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 100%;
    height: 500px;
}

body { 
  margin: 0;
  padding: 0; 
}

#mapElement { 
  position: relative;
  top: 0; 
  bottom: 0; 
  width: 100%; 
  height: 90%;
}

#wrapper { 
  display: flex; 
}
  
#left { 
  flex: 0 0 25%; 
}

#right { 
  flex: 1; 
}