
/* body { 
  margin: 0;
  padding: 0; 
} */

#mapElement { 
  position: relative;
  top: 100%; 
  bottom: 90%; 
  /* width: 100%; 
  height: 90%; */
}

#container {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  /* height: 300px; */
}

.box {
  width: 300px;
  margin: 5px;
  text-align: center;     /* will center text in <p>, which is not a flex item */
}